<div class="container" style="background-color: black;">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="row p-5">
                <img class='center-img' src="assets/login-logo.png">
            </div>
            <div class="row">
                <div class="col-lg-12 white-text">Email or Username</div>
            </div>
            <div class="row pb-5">
                <div class="col-lg-12"><input type="text" class='form-control black-bg' [formControl]="email" /></div>
            </div>
            <div class="row">
                <div class="col-lg-12 white-text">Password</div>
            </div>
            <div class="row form-group">
                <div class="col-lg-12"><input type="password" class='form-control black-bg' [formControl]="password" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button class='btn btn-primary wide' (click)="signIn()">Sign in</button>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-lg-12 text-center">
                    <a href="_blank">Forgot Password ?</a>
                </div>
            </div>

            <div class="row pt-3">
                <div class="col-lg-12 text-center">
                    <a href="_blank">Sign in with company or school</a>
                </div>
            </div>
            <hr class="hr">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <button class='btn btn-basic accBtn'>Create an Account</button>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-lg-12 text-center text-grey">
                    Copyright © 2004 - 2020 Pluralsight LLC. All rights reserved.
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-grey">
                    <u>Terms of Use</u> | <u>Privacy Policy</u>
                </div>
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>